@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Tangut&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Khitan+Small+Script&display=swap');

@font-face {
    font-family: "yuhao-font";
    src: url("/Yuniversus.woff") format("woff");
    unicode-range: U+F400-F8FF;
}

@font-face {
    font-family: "tianma-font";
    src: url("/sky.woff") format("woff");
}

.zigen-font {
    font-family: 'Noto Serif SC', 'Noto Serif Tangut', "Noto Serif Khitan Small Script",
        "yuhao-font", 'TH-Tshyn-P2', 'TH-Tshyn-P0', 'TH-Tshyn-P1', 'TH-Tshyn-P16',
        Georgia, "Nimbus Roman No9 L", "Songti SC Regular", "Noto Serif CJK SC", "Source Han Serif SC", "Source Han Serif CN", STSong, "AR PL New Sung", "AR PL SungtiL GB", NSimSun, SimSun, "TW\-Sung", "WenQuanYi Bitmap Song", "AR PL UMing CN", "AR PL UMing HK", "AR PL UMing TW", "AR PL UMing TW MBE", PMingLiU, MingLiU, serif;
}

.yuniversus {
    font-family: "yuhao-font";
}

.tianma {
    font-family: 'tianma-font', 'TH-Tshyn-P2', 'TH-Tshyn-P0', 'TH-Tshyn-P1', 'TH-Tshyn-P16', Georgia, "Nimbus Roman No9 L", "Songti SC Regular", "Noto Serif CJK SC", "Source Han Serif SC", "Source Han Serif CN", STSong, "AR PL New Sung", "AR PL SungtiL GB", NSimSun, SimSun, "TW\-Sung", "WenQuanYi Bitmap Song", "AR PL UMing CN", "AR PL UMing HK", "AR PL UMing TW", "AR PL UMing TW MBE", PMingLiU, MingLiU, serif;
}

:root {

    --vp-c-brand-1: var(--vp-c-indigo-1);
    --vp-c-brand-2: var(--vp-c-indigo-2);
    --vp-c-brand-3: var(--vp-c-indigo-3);
    --vp-c-brand-soft: var(--vp-c-indigo-soft);

    /* --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(120deg,
            var(--vp-c-brand-1),
            var(--vp-c-brand-3));
    ;

    --vp-home-hero-image-background-image: none;
    --vp-home-hero-image-filter: none; */

    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(-30deg, #bd34fe 30%, #2970fc);
    --vp-home-hero-image-background-image: linear-gradient(45deg, #bd34fe 50%, #2970fc 50%);
    --vp-home-hero-image-filter: blur(64px);
}

.medium-zoom-overlay {
    background-color: var(--vp-c-bg) !important;
    z-index: 100;
}

.medium-zoom-overlay~img {
    z-index: 101;
}

.medium-zoom--opened .medium-zoom-overlay {
    opacity: 0.9 !important;
}